.loop-photo{
    width: 100%;
    height: 500px;
    img{
        width: 100%;
        height: 100%;
    }
    .swiper-container{ 
        .swiper-button-hidden{
            opacity : 0; 
        }        
    }
}